/* Colors and fonts*/

h1 {
	color: #575F7D;
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	line-height: 1.8;
	font-weight: 800;
}



body {
	background-color: rgb(239, 239, 239);
	color: rgb( 30, 30, 30);
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 32px;
	line-height: 1.0;
}

h2, h3 {
	color: #6B72E1;
	text-decoration: underline;
	font-family: Helvetica;
	
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover {
	color: white;
}
.container {
	width: 1000px;
	margin: 40px auto;
	text-align: center;
}

@media (max-width: 960px) {
	.container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.card-white {
	background: white;
	padding: 60px;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 8px;
}

.img-circle {
	border-radius: 50%;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);

}

.btn-blue {
	margin-top: 50px;
	margin-bottom: 10px;
	background: #6B72E1;
	color: white;
	padding: 15px;
	border-radius: 8px;
	text-decoration: none;

}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	background: #6B72E1;
	display: inline;
	padding: 10px;
	border-radius: 10px;
}
